@import "gui";
@import "baseline.reset.less";
@col:#ff4747;
@fond:white;
@g : 10px;

body {
  padding:4*@g 27*@g 0 4*@g;
  background:@fond;
}
.content {
  max-width:1020px;
//  border-left:solid @col 1px;
//  border-right:solid @col 1px;
}
a {
  color:@col;
  text-decoration:none;
}
h1 {
  font-size:2em;
  font-weight:bold;
  padding: 0 0 @g;
}
hr { border-top:@col 1px solid}
li { list-style:none;}
header {
  width:250px;
  position:absolute;
  top:@g*2;
  right:@g*2;
  z-index:800;
  padding:@g;
  sup {
    font-size:0.4em;
    vertical-align:super;
  }
  &:hover {
    .survol
  }
  h1 { text-align:center;}
  nav {
    border-top: 1px solid @col;
    padding: @g 0;
    
    li {
      width:62px;
      float:left;
      text-align:center;
      border-left: 1px solid @col;
      padding:0 @g 0 @g;
      &:first-child {
        border:0;
      }
    }
    .active {
      font-weight:bold;
    }
  }
}
.word {
    display:inline-block;
}
.phrase {
  clear:both;
}
.char {
  &:hover {
    .survol
  }
  img {
    width:100%;
    height:100%;
  }
  // min-width:@g*3;
  // min-height:@g*3;
}
.in {
  display:inline;
}
.space {
  display:inline-block;
  background:white;
}
.missing {
  border-top:@col solid 4px;
  font-weight:bold;
  color:@col;
  padding:@g;
}
.survol {
  background:fadeout(white,20);
  .box-shadow(0, 0, 20px,@col,0px); 
}
.on-print {
  visibility:hidden;
}
@media print {
   body { padding:0;margin:0; }
   
   .no-print {
     display:none;
   }
   .on-print {
     visibility:visible;
   }
   
   .ui-icon {
     background:none;
   }
 }